astor==0.8.1 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
bandit==1.7.8 ; python_version >= "3.10" and python_version < "4.0"
black==24.4.2 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
darglint==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
docutils==0.21.2 ; python_version >= "3.10" and python_version < "4.0"
eradicate==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
flake8==7.0.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-bandit==4.1.1 ; python_version >= "3.10" and python_version < "4.0"
flake8-broken-line==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-bugbear==24.4.26 ; python_version >= "3.10" and python_version < "4.0"
flake8-commas==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-comprehensions==3.14.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-debugger==4.1.2 ; python_version >= "3.10" and python_version < "4.0"
flake8-docstrings==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-eradicate==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-isort==6.1.1 ; python_version >= "3.10" and python_version < "4.0"
flake8-quotes==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-rst-docstrings==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
flake8-string-format==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
mypy==1.10.0 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
pbr==6.0.0 ; python_version >= "3.10" and python_version < "4.0"
pep8-naming==0.13.3 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.2.2 ; python_version >= "3.10" and python_version < "4.0"
pycodestyle==2.11.1 ; python_version >= "3.10" and python_version < "4.0"
pydocstyle==6.3.0 ; python_version >= "3.10" and python_version < "4.0"
pyflakes==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
restructuredtext-lint==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.10" and python_version < "4.0"
setuptools==70.0.0 ; python_version >= "3.10" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
stevedore==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.12.1 ; python_version >= "3.10" and python_version < "4.0"
wemake-python-styleguide==0.19.2 ; python_version >= "3.10" and python_version < "4.0"
