<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator" content= "HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta charset="UTF-8">
    <title>
      Sample Form
    </title>
  </head>
  <body>
    <form method="post">
      <input type="number" name="num" value="1234"> <input type=
      "submit">
    </form>
    <p>
      Result: {{ result }}
    </p>
  </body>
</html>
