<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta charset="UTF-8">
    <title>
      Order Tracking Health Check
    </title>
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="child">
        <p>
          Healthy version: {{ version}}
        </p>
        <p>
          <a title="Return to top" href="{{ index_url }}">Return to top</a>
        </p>
      </div>
    </div>
  </body>
</html>
