<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta charset="UTF-8">
    <title>
      {{ title }}
    </title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container"><div class="child">
    <p>Version: {{ version }}</p>
    <p>Number of orders displayed: {{ orders|length }}</p>
    <p>
      <a href="{{ orders_url }}" target="_blank" rel="noopener noreferrer" title="{{ orders_title }}">{{ orders_title }}</a>
    </p>
    <table>
      <tr>
        <th>
          id
        </th>
        <th>
          number
        </th>
        <th>
          vendor
        </th>
        <th>
          ordered
        </th>
        <th>
          shipped
        </th>
        <th>
          arrived
        </th>
        <th>
          delivered
        </th>
        <th>
          created
        </th>
        <th>
          shipper
        </th>
        <th>
          trn
        </th>
        <th>
          trl
        </th>
        <th>
          notes
        </th>
        <th>
          items
        </th>
      </tr>
{% for order in orders %}
      <tr>
        <td>
          <a href='{{ order.oil }}' title='{{ order.id }}'>{{ order.id }}</a>
        </td>
        <td>
          {{ order.number }}
        </td>
        <td>
          {{ order.vendor }}
        </td>
        <td>
          {{ order.ordered }}
        </td>
        <td>
          {{ order.shipped }}
        </td>
        <td>
          {{ order.arrived }}
        </td>
        <td>
        {% if 'orders' in order.delivered|string %}
          <a href='{{ order.delivered }}' title='Rcvd'>Rcvd</a>
        {% else %}
          {{ order.delivered }}
        {% endif %}
        </td>
        <td>
          {{ order.created }}
        </td>
        <td>
          {{ order.shipper }}
        </td>
        <td>
          {{ order.trn }}
        </td>
        <td>
        {% if order.trl  %}
          <a href='{{ order.trl }}' title='TrackIt'>TrackIt</a>
        {% endif %}
        </td>
        <td>
          {{ order.notes }}
        </td>
        <td>
        {% if 'piece_add' in order.pieces  %}
          <a href='{{ order.pieces }}' title='Add'>Add</a>
        {% elif 'metaorg.com' in order.pieces %}
          <a href='{{ order.pieces }}' title='Items'>Items</a>
        {% else %}
          <a href='{{ order.pieces }}' title='Items' target='_blank'>Items</a>
        {% endif %}
        </td>
      </tr>
{% endfor %}
    </table>
    </div></div>
  </body>
</html>
